
        <section class="price">
            <div class="price__container">
                <section class="price__plans" id="pricePlans">
                    
                        <!-- <div class="price__plan" id="pricePlan">
                            <p class="price__title" id="priceTitle">
                                План Live
                            </p>
                            <p class="price__team" id="priceTeam"> Бесплатно</p>
                            <ol class="price__list" id="priceList">
                                <li class="price__item" >
                                    До 10 проектов
                                </li>
                                <li class="price__item">
                                    До 5 команд
                                </li>
                                <li class="price__item">
                                    Поддержка с 9:00 до 17:00 в будние дни
                                </li>
                            </ol>

                        </div>
                        <div class="price__plan" id="pricePlan">
                            <p class="price__title" id="priceTitle">
                                План PRO

                            </p>
                            <p class="price__team">от 7$ в месяц</p>
                            <ol class="price__list" id="priceList">
                                <li class="price__item" >
                                    Неограниченное количество проектов
                                </li>
                                <li class="price__item" >
                                    До 15 команд
                                </li>
                                <li class="price__item">
                                    Поддержка с 09:00 до 21:00 в будние дни
                                </li>
                            </ol>
                        </div>


                        <div class="price__plan" id="pricePlan">
                            <p class="price__title" id="priceTitle">
                                План Prime

                            </p>
                            <p class="price__team">от 18$ в месяц</p>
                            <ol class="price__list" id="priceList">
                                <li class="price__item">
                                    Неограниченное количество проектов
                                </li>
                                <li class="price__item">
                                    Неограниченное количество команд
                                </li>
                                <li class="price__item">
                                    Круглосуточная поддержка
                                </li>
                            </ol>

                        </div> -->

                </section>

            <!-- </div> -->
            </div>
        </section>


   